<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393567676133-lg2jipo3prll2blomg91pldpr37lolih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393567676133-lg2jipo3prll2blomg91pldpr37lolih</string>
	<key>API_KEY</key>
	<string>AIzaSyAsa6uI1jEORLlGPaal4swttIkb80CO1xI</string>
	<key>GCM_SENDER_ID</key>
	<string>393567676133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluttercam</string>
	<key>PROJECT_ID</key>
	<string>projeto-para-flutter-com-api</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-para-flutter-com-api.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393567676133:ios:a94791e59d06a021c4d60c</string>
</dict>
</plist>